**data.csv**

In [ ]:
import pandas as pd

data = {
    'age': [25, 30, 22, 40, 55, 60, 33, 28, 45, 50],
    'income': [50000, 60000, 45000, 70000, 80000, 90000, 65000, 62000, 75000, 85000],
    'age_group': ['20-30', '30-40', '20-30', '40-50', '50-60', '50-60', '30-40', '20-30', '40-50', '50-60']
}

df = pd.DataFrame(data)

# Group the data by age_group and compute summary statistics for 'income'
summary_stats = df.groupby('age_group')['income'].describe()

print(summary_stats)

           count          mean          std      min      25%      50%  \
age_group
20-30        3.0  52333.333333  8736.894948  45000.0  47500.0  50000.0
30-40        2.0  62500.000000  3535.533906  60000.0  61250.0  62500.0
40-50        2.0  72500.000000  3535.533906  70000.0  71250.0  72500.0
50-60        3.0  85000.000000  5000.000000  80000.0  82500.0  85000.0

               75%      max
age_group
20-30      56000.0  62000.0
30-40      63750.0  65000.0
40-50      73750.0  75000.0
50-60      87500.0  90000.0

In [ ]:
median_income = df.groupby('age_group')['income'].median()

print("Median Income by Age Group:")
print(median_income)

Median Income by Age Group:
age_group
20-30    50000.0
30-40    62500.0
40-50    72500.0
50-60    85000.0
Name: income, dtype: float64

In [ ]:
print("Column Names:", df.columns)

Column Names: Index(['age', 'income', 'age_group'], dtype='object')

In [ ]:
import pandas as pd

# Modified dataset with repeated values
data = {
    'age': [25, 30, 25, 40, 55, 60, 33, 28, 45, 50, 25, 30, 28, 30, 25],
    'income': [50000, 60000, 50000, 70000, 80000, 90000, 65000, 62000, 75000, 85000, 50000, 60000, 62000, 70000, 75000],
    'age_group': ['20-30', '30-40', '20-30', '40-50', '50-60', '50-60', '30-40', '20-30', '40-50', '50-60', '20-30', '30-40', '20-30', '30-40', '20-30']
}

df = pd.DataFrame(data)

# Calculate the mode for each column
mode_age = df['age'].mode()
mode_income = df['income'].mode()
print(f"Mode of Age: {mode_age.values}")
print(f"Mode of Income: {mode_income.values}")

Mode of Age: [25]
Mode of Income: [50000]

**iris.csv**

In [ ]:
import pandas as pd

df = pd.read_csv('iris.csv')

# Show basic structure of the data
print(df.head())

# Group by species and display summary statistics
summary_stats_species = df.groupby('variety').describe()

# Additionally, we can compute specific percentiles and statistics
percentiles = df.groupby('variety').quantile([0.25, 0.5, 0.75])

# Display summary statistics and percentiles
summary_stats_species = df.groupby('variety').describe()

print("\nPercentiles by Species:")
print(percentiles)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

Percentiles by Species:
                 sepal.length  sepal.width  petal.length  petal.width
variety
Setosa     0.25         4.800        3.200         1.400          0.2
           0.50         5.000        3.400         1.500          0.2
           0.75         5.200        3.675         1.575          0.3
Versicolor 0.25         5.600        2.525         4.000          1.2
           0.50         5.900        2.800         4.350          1.3
           0.75         6.300        3.000         4.600          1.5
Virginica  0.25         6.225        2.800         5.100          1.8
           0.50         6.500        3.000         5.550          2.0
           0.75         6.900        3.175         5.875          2.3

In [ ]:
summary_stats_species = df.groupby('variety')['sepal.width'].describe()

print("\nSummary Statistics by Species for Sepal Width:")
print(summary_stats_species)

Summary Statistics by Species for Sepal Width:
            count   mean       std  min    25%  50%    75%  max
variety
Setosa       50.0  3.428  0.379064  2.3  3.200  3.4  3.675  4.4
Versicolor   50.0  2.770  0.313798  2.0  2.525  2.8  3.000  3.4
Virginica    50.0  2.974  0.322497  2.2  2.800  3.0  3.175  3.8

In [ ]:
# Group by species and compute the median for numeric columns
median_values = df.groupby('variety').median()

print("Median Values by Species:")
print(median_values)

Median Values by Species:
            sepal.length  sepal.width  petal.length  petal.width
variety
Setosa               5.0          3.4          1.50          0.2
Versicolor           5.9          2.8          4.35          1.3
Virginica            6.5          3.0          5.55          2.0

In [ ]:
median_sepal_length = df.groupby('variety')['sepal.length'].median()
print("Median Sepal Length by Species:")
print(median_sepal_length)

Median Sepal Length by Species:
variety
Setosa        5.0
Versicolor    5.9
Virginica     6.5
Name: sepal.length, dtype: float64

In [ ]:
mode_width = df['sepal.width'].mode()
print(f"Mode of Width: {mode_width.values}")

Mode of Width: [3.]