In [1]:
import pandas as pd
import numpy as np

The dataset contains information about different cars, including Car Brand, Model, Year, and Price.

In [17]:
df = pd.read_csv("data.csv")
print(df)

           Car       Model  Volume  Weight  CO2
0       Toyoty        Aygo  1000.0   790.0   99
1   Mitsubishi  Space Star  1200.0  1160.0   95
2        Skoda      Citigo  1000.0   929.0   95
3         Fiat         500   900.0   865.0   90
4         Mini      Cooper     NaN  1140.0  105
5           VW         Up!  1000.0   929.0  105
6        Skoda       Fabia  1400.0  1109.0   90
7     Mercedes     A-Class  1500.0  1365.0   92
8         Ford      Fiesta  1500.0  1112.0   98
9         Audi         NaN  1600.0  1150.0   99
10     Hyundai         I20  1100.0   980.0   99
11      Suzuki       Swift  1300.0   990.0  101
12        Ford      Fiesta  1000.0  1112.0   99
13       Honda       Civic  1600.0     NaN   94
14      Hundai         I30  1600.0  1326.0   97
15        Opel       Astra  1600.0  1330.0   97
16         BMW           1  1600.0  1365.0   99
17       Mazda           3  2200.0  1280.0  104
18       Skoda       Rapid  1600.0  1119.0  104
19        Ford       Focus  2000.0  1328.0  105
20        Ford      Mondeo  1600.0  1584.0   94
21        Opel    Insignia  2000.0  1428.0   99
22    Mercedes     C-Class  2100.0  1365.0   99
23       Skoda     Octavia  1600.0  1415.0   99
24       Volvo         S60  2000.0  1415.0   99
25    Mercedes         CLA  1500.0  1465.0  102
26        Audi          A4  2000.0  1490.0  104
27        Audi          A6  2000.0  1725.0  114
28       Volvo         V70  1600.0  1523.0  109
29         BMW           5  2000.0  1705.0  114
30    Mercedes     E-Class  2100.0  1605.0  115
31       Volvo        XC70  2000.0  1746.0  117
32        Ford       B-Max  1600.0  1235.0  104
33         BMW         216  1600.0  1390.0  108
34        Opel      Zafira  1600.0  1405.0  109
35    Mercedes         SLK  2500.0     NaN  120

## Data preprocessing
## Check for Missing Values

In [19]:
missing_values = df.isnull().sum()
print(missing_values)   #print(df.isnull()) is for true false o/p

Car       0
Model     1
Volume    1
Weight    2
CO2       0
dtype: int64

In [23]:
print("\nStatistical Summary:")
print(df.describe())

Statistical Summary:
            Volume       Weight         CO2
count    35.000000    34.000000   36.000000
mean   1614.285714  1290.441176  102.027778
std     394.180354   248.605223    7.454571
min     900.000000   790.000000   90.000000
25%    1450.000000  1113.750000   97.750000
50%    1600.000000  1329.000000   99.000000
75%    2000.000000  1424.750000  105.000000
max    2500.000000  1746.000000  120.000000

In [33]:
#Variable descriptions and types
print("\nData types:\n" ,df.dtypes)

Data types:
 Car        object
Model      object
Volume    float64
Weight    float64
CO2         int64
dtype: object

In [29]:
print("\nDimensions of dataset:\n", df.shape)

Dimensions of dataset:
 (36, 5)

In [31]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Car     36 non-null     object
 1   Model   35 non-null     object
 2   Volume  35 non-null     float64
 3   Weight  34 non-null     float64
 4   CO2     36 non-null     int64
dtypes: float64(2), int64(1), object(2)
memory usage: 1.5+ KB
None

In [41]:
#data formatting
print("\nConverting 'Car' and 'Model' to Categorical Variables")
df['Car']= df['Car'].astype('category')
df['Model']= df['Model'].astype('category')
print(df.dtypes)

Converting 'Car' and 'Model' to Categorical Variables
Car       category
Model     category
Volume     float64
Weight     float64
CO2          int64
dtype: object

In [48]:
# One-hot encoding for categorical variables
print("\nApplying one hot encoding to categorical variables\n")
df_encoded = pd.get_dummies(df,columns=['Car','Model'], drop_first=True)
print(df_encoded.head())

Applying one hot encoding to categorical variables

   Volume  Weight  CO2  Car_BMW  Car_Fiat  Car_Ford  Car_Honda  Car_Hundai  \
0  1000.0   790.0   99    False     False     False      False       False
1  1200.0  1160.0   95    False     False     False      False       False
2  1000.0   929.0   95    False     False     False      False       False
3   900.0   865.0   90    False      True     False      False       False
4     NaN  1140.0  105    False     False     False      False       False

   Car_Hyundai  Car_Mazda  ...  Model_Octavia  Model_Rapid  Model_S60  \
0        False      False  ...          False        False      False
1        False      False  ...          False        False      False
2        False      False  ...          False        False      False
3        False      False  ...          False        False      False
4        False      False  ...          False        False      False

   Model_SLK  Model_Space Star  Model_Swift  Model_Up!  Model_V70  Model_XC70  \
0      False             False        False      False      False       False
1      False              True        False      False      False       False
2      False             False        False      False      False       False
3      False             False        False      False      False       False
4      False             False        False      False      False       False

   Model_Zafira
0         False
1         False
2         False
3         False
4         False

[5 rows x 52 columns]